<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Registration</title>

</head>

<body class="registration-body">
    
    <form class="form">
        <div class ="title">Welcome!</div>
        <div class ="subtitle">Register to our App!</div>
          <input type="text" id="first-name" placeholder="First Name"  />
          <div class="error" id="first-name-error"></div>
          <input type="text" id="last-name" placeholder="Last Name"  />
          <div class="error" id="last-name-error"></div>
          <input type="text" id="address1" placeholder="Address 1"  />
          <div class="error" id="address1-error"></div>
          <input type="text" id="address2" placeholder="Address 2"  />
          <div class="text-fill">text</div>
          <input type="text" id="city" placeholder="City"  />
          <div class="error" id="city-error"></div>
          <select id="state" placeholder="State (IF US)" >
          </select>
          <div class="text-fill">text</div>
          <input type="text" id="zip-code" placeholder="Zip Code" />
          <div class="error" id="zip-code-error"></div>
          <select  id="country" placeholder="Country">
            <option value="USA"> USA</option>
          </select>
        <button id="submit-btn" type="button" onClick=submitReg()> Submit </button>
        </form>
        
      <script type="text/javascript" src="/registration.js"></script>
</body>

</html>